<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polimi.dima.skitalk">

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"
        android:permissionGroup="android.permission-group.MICROPHONE"
        android:protectionLevel="dangerous"/>
    <uses-permission android:name="android.permission.VIBRATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyProfile" />
        <activity android:name=".activity.MyProfileEdit" />
        <activity android:name=".activity.OthersProfile"
                  android:launchMode="singleInstance">>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.dima.skitalk.activity.GroupActivity" />
        </activity>
        <activity android:name=".activity.HomePage"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".activity.Logout" />
        <activity android:name=".activity.SignIn" />
        <activity android:name=".activity.CreateGroup_step1" />
        <activity android:name=".activity.CreateGroup_step2" />
        <activity android:name=".activity.GroupActivity"
                  android:launchMode="singleInstance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.dima.skitalk.activity.HomePage" />
        </activity>



        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key" />

        <service
            android:name=".util.ServiceUpdateCoords"
            android:enabled="true"/>
        <service
            android:name=".util.ServiceAudioReceiver"
            android:enabled="true" />

        <receiver android:name=".MediaButtonIntentReceiver" >
                <intent-filter android:priority="10000" >
                 <action android:name="android.intent.action.MEDIA_BUTTON" />
                </intent-filter>
        </receiver>


    </application>


</manifest>